<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <!--插入描述 搜索时被搜索引擎编入索引-->
  <meta name="description" content="描述">
  <!--插入CSS-->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!--<link rel="stylesheet" href="/stylesheets/buttons.css">-->
  <!--插入JS-->
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="//cdn.ckeditor.com/4.5.6/standard/ckeditor.js"></script>
  <script src="/javascripts/Slideshow.js"></script>
  <!--插入图标-->
  <link rel="shortcut icon" href="/images/logo.png">
  <!--插入网页标题-->
  <title><%= title %></title>
</head>


